<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>GetProfile</display-name>
    <servlet-name>GetProfile</servlet-name>
    <servlet-class>programLibraries.GetProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProfile</servlet-name>
    <url-pattern>/controllers/GetProfile</url-pattern>
  </servlet-mapping>
  <display-name>LinkedIn</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GetUser</display-name>
    <servlet-name>GetUser</servlet-name>
    <servlet-class>programLibraries.controllers.GetUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUser</servlet-name>
    <url-pattern>/controllers/get/user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>programLibraries.controllers.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/controllers/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>programLibraries.controllers.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/controllers/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetHome</display-name>
    <servlet-name>GetHome</servlet-name>
    <servlet-class>programLibraries.controllers.GetHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetHome</servlet-name>
    <url-pattern>/controllers/get/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetComments</display-name>
    <servlet-name>GetComments</servlet-name>
    <servlet-class>programLibraries.controllers.GetComments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetComments</servlet-name>
    <url-pattern>/controllers/get/comments</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetJobs</display-name>
    <servlet-name>GetJobs</servlet-name>
    <servlet-class>programLibraries.controllers.GetJobs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetJobs</servlet-name>
    <url-pattern>/controllers/get/jobs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreatePost</display-name>
    <servlet-name>CreatePost</servlet-name>
    <servlet-class>programLibraries.controllers.CreatePost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreatePost</servlet-name>
    <url-pattern>/controllers/create/post</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetConnections</display-name>
    <servlet-name>GetConnections</servlet-name>
    <servlet-class>programLibraries.controllers.GetConnections</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetConnections</servlet-name>
    <url-pattern>/controllers/get/connections</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetConversation</display-name>
    <servlet-name>GetConversation</servlet-name>
    <servlet-class>programLibraries.controllers.GetConversation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetConversation</servlet-name>
    <url-pattern>/controllers/get/conversation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMessage</display-name>
    <servlet-name>SendMessage</servlet-name>
    <servlet-class>programLibraries.controllers.SendMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMessage</servlet-name>
    <url-pattern>/controllers/send/message</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetReaction</display-name>
    <servlet-name>SetReaction</servlet-name>
    <servlet-class>programLibraries.controllers.SetReaction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetReaction</servlet-name>
    <url-pattern>/controllers/set/reaction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Follow</display-name>
    <servlet-name>Follow</servlet-name>
    <servlet-class>programLibraries.controllers.Follow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Follow</servlet-name>
    <url-pattern>/controllers/follow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Connect</display-name>
    <servlet-name>Connect</servlet-name>
    <servlet-class>programLibraries.controllers.Connect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connect</servlet-name>
    <url-pattern>/controllers/connect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSkill</display-name>
    <servlet-name>AddSkill</servlet-name>
    <servlet-class>programLibraries.controllers.AddSkill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSkill</servlet-name>
    <url-pattern>/controllers/addskill</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAchievement</display-name>
    <servlet-name>AddAchievement</servlet-name>
    <servlet-class>programLibraries.controllers.AddAchievement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAchievement</servlet-name>
    <url-pattern>/controllers/addachievement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEducation</display-name>
    <servlet-name>AddEducation</servlet-name>
    <servlet-class>programLibraries.controllers.AddEducation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEducation</servlet-name>
    <url-pattern>/controllers/addeducation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddExperience</display-name>
    <servlet-name>AddExperience</servlet-name>
    <servlet-class>programLibraries.controllers.AddExperience</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddExperience</servlet-name>
    <url-pattern>/controllers/addexperience</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostComment</display-name>
    <servlet-name>PostComment</servlet-name>
    <servlet-class>programLibraries.controllers.PostComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostComment</servlet-name>
    <url-pattern>/controllers/post/comment</url-pattern>
  </servlet-mapping>
</web-app>